.modal-wrap {
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.inner {
    width: 27.5rem;
    background-color: #fff;
}

.inner .m-header {
    height: 2.38rem;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    line-height: 2.38rem;
    font-size: 1.6rem;
}

.inner .content-wrapper {
   padding: 2rem;
}



