.header-wrap {
    position: relative;
    height: 48px;
    line-height: 48px;
    background-color: lightskyblue;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: aliceblue;
    font-size: 18px;
}

.left-button {
    position: absolute;
    right: 15px;
}
